html {
  scroll-behavior: smooth;
  width : 100%
}
@font-face {
  font-family: SpaceMono;
  src: url('../fonts/SpaceMono/SpaceMono-Regular.ttf');
}
@font-face {
  font-family: FiraCode;
  src: url('../fonts/FiraCode/FiraCode-Regular.ttf');
}
@font-face {
  font-family: MyriadPro-Light;
  src: url('../fonts/MyriadPro/MyriadPro-Light.otf');
}
@font-face {
  font-family: MyriadPro-SemiBold;
  src: url('../fonts/MyriadPro/MYRIADPRO-SEMIBOLD.OTF');
}
html, body {
  font-family: MyriadPro-Light!important
  
}

.text-flame { color : #FF5252 }
.bg-flame { background:  #FF5252 }
.text-white { color : #fff }
.bg-white { background : #fff }
.text-black { color : #262626 }
.bg-black { background : #262626 }
.text-dark-indigo { color : #303F9F }
.bg-dark-indigo { background : #303F9F }
.text-visual { color : #0a192f }
.bg-visual { background: #0a192f }
/*utilities*/
.navbar {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.btn.btn-flame {
  background: transparent;
  border-color: #FF5252;
  color: #FF5252;
}
.btn.btn-flame:focus,
.btn.btn-flame:hover {
  background: #13294b ;
  color:#FF5252;
}
.btn.btn-flame:active,
.btn.btn-flame.active {
  background: #13294b ;
  color:#FF5252;
}
.btn.btn-flame.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.logoHome {
  height : 50px;
}
a.text-flame {
  color : #FF5252
}
.navbar-section a {
  font-family: FiraCode!important;
  font-size : 0.65rem;
}
a.customLink {
  color :  #b8c3e2
}
a.customLink:hover {
  color : #FF5252;
  text-decoration : none
}
a.customLinkMobile {
  color :  #b8c3e2;
  font-size : 2rem
}
a.customLinkMobile:hover {
  color : #FF5252;
  text-decoration : none
}
.navbar {
  height : 15vh;
}
#columnLeft {
  position: fixed;
  bottom: 0;
  left: 0;
  height : 85vh;
  width: calc(100% / 12);
}
#columnRight {
  position: fixed;
  bottom: 0;
  right: 0;
  height : 85vh;
  width: calc(100% / 12);
}
.mainColumn {
  margin-top : 10vh;
}
.bothColumn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.customLine {
  margin-left: calc(50% - 3px);
  margin-right: auto;
  border-left: 3px solid #b8c3e2;
  height : 100px
}
.verticalLine {
  display : inline-block;
  vertical-align : middle;
  margin-right: auto;
  border-top: 1px solid #7d88a5;
  width : 300px
}
#reverseMail {
  font-family: FiraCode!important;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size : 0.7rem;
  color: #b8c3e2;
  transition : 0.3s
}
#reverseMail:hover {
  color : #FF5252;
  text-decoration : none;
  margin-bottom : 1vh;
}
a.customIcon {
  color :  #b8c3e2;
  font-size : 1.1rem;
  transition : 0.3s;
}
a.customIcon:hover {
  color : #FF5252;
  text-decoration : none;
  margin-left : 1vh;
}
.text-grey {
  color : #b8c3e2;
}
.text-light-grey {
  color : #ccd6f6;
}
.text-dark-grey {
  color : #7d88a5;
}
#mobileModal {
  max-width : 100vw;
}
#mobileModal .modal-container {
  position : absolute;
  top : 0;
  max-height : 120vh;
  height : 120vh;
  max-width : 100vw;
  width : 100vw;
  box-shadow: none;
}
#mobileModal .modal-overlay {
  max-height : 100vh;
  height : 100vh;
  max-width : 100vw;
  width : 100vw;
  background: #0a192f;
}
#backofficeModal .modal-container {
  max-height : 100vh;
  height : 100vh;
  max-width : 3000px;
  width : 80vw;
  box-shadow: none;
}
#backofficeModal .modal-overlay {
  background: #0a192f
}
#locckerModal .modal-container {
  max-height : 100vh;
  height : 100vh;
  max-width : 3000px;
  width : 80vw;
  box-shadow: none;
}
#locckerModal .modal-overlay {
  background: #0a192f
}
#gardenmapModal .modal-container {
  max-height : 100vh;
  height : 100vh;
  max-width : 3000px;
  width : 80vw;
  box-shadow: none;
}
#gardenmapModal .modal-overlay {
  background: #0a192f
}
.megaTitle {
  font-family: MyriadPro-SemiBold!important;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom : 5px;
}
.sectionTitle {
  font-family: MyriadPro-SemiBold!important;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom : 5px;
}
#meImg {
  border-radius: 10px;
  box-shadow: 20px 20px 0  -2px #0a192f, 20px 20px #FF5252,
  40px 40px 0  -2px #0a192f, 40px 40px #FF5252
}
.bio {
  font-size : 1rem;
}
.techList {
  font-size : 0.8rem;
}
.numberColor {
  color : #FF5252;
  font-family: FiraCode!important;
}
.fontFira {
  font-family: FiraCode!important;
}
.subMenu {
  border-radius : 0!important;
  border-left : 1px solid #7d88a5;
  transition : 0.3s;
}
.subMenu:hover {
  background : #13294b!important;
  color : #FF5252!important;
  cursor : pointer;
  box-shadow: 10px 10px 0  -2px #0a192f, 10px 10px #FF5252;
} 
.subMenu:focus {
  background : #13294b!important;
  color : #FF5252!important;
}
.triggered {
  border : 3px solid #FF5252!important;
  box-shadow: 10px 10px 0  -2px #0a192f, 10px 10px #FF5252;
  transition : 0.3s;
}
.triggered:hover {
  padding-left : 20px!important;
  color : #b8c3e2!important
}
.underline {
  text-decoration: underline;
}
#parcoursMenu {
  box-shadow: none;
}
.carouselCursor {
  background : #FF5252!important;
}
.carousel .carousel-locator:nth-of-type(1):checked~.carousel-nav .nav-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked~.carousel-nav .nav-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked~.carousel-nav .nav-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked~.carousel-nav .nav-item:nth-of-type(4), .carousel .carousel-locator:nth-of-type(5):checked~.carousel-nav .nav-item:nth-of-type(5), .carousel .carousel-locator:nth-of-type(6):checked~.carousel-nav .nav-item:nth-of-type(6), .carousel .carousel-locator:nth-of-type(7):checked~.carousel-nav .nav-item:nth-of-type(7), .carousel .carousel-locator:nth-of-type(8):checked~.carousel-nav .nav-item:nth-of-type(8) {
  color: #FF5252;
}
.carousel .carousel-nav .nav-item {
  color : #FFAFA3
}
.aboutMenuMobile {
  position : relative;
  display : none;
  /* overflow: auto!important;
  max-height : 20px!important;
  height : 20px!important; */
}
.aboutBlock {
  display : inline-block;
}
@media screen and (max-width: 1200px) {
  .megaTitle {
    font-weight: 900;
    font-size: 3rem;
  }
}
@media screen and (max-width: 850px) {
  #columnRight, #columnLeft {
    display : none
  }
  .aboutMenuPc {
    display : none;
  }
  .aboutMenuMobile {
    display : initial;
  }
}
@media screen and (max-width: 500px) {
  .megaTitle {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .mainColumn {
    
  }
}

/* mobile format paysage */
@media screen and (max-height: 500px) {
  .navbar {
    height : 30vh;
  }
}
@media screen and (max-height: 650px) {
  a.customLinkMobile {
    color :  #b8c3e2;
    font-size : 1.5rem
  }
}
:root {
  --visual: #0a192f
}